@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 1px red solid
}

.doodle {
    width: 400px;
    height: 600px;
    position: relative;
}

.doodler {
    width: 60px;
    height: 85px;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background_color: green;
    position: absolute;
}

.new-game-button {

}

/* Flappy Bird Score and Image */

#bird-image {
    background-image: url('./assets/flappy-bird.png');
}

#game-box {
    background-image: url('./assets/fb-game-background.png');
    margin: 0px;
}

#obstacle {
    background-image: url('./assets/flappybird-pipe.png');
}

#obstacle-up {
    background-image: url('./assets/flappybird-pipe.png');
    transform: scaleY(-1);
}

#bottom-box{
    background-image: url('./assets/bottom-background.png');
}

#flappy-bird-score {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

/* Home Page Images */

#flappy-bird-sample-bg {
    height: 300px;
    width: 300px;
}

#snake-game-bg {
    height: 300px;
    width: 300px;
}
